#anchor {
    -fx-background-color: #16161a;
}

/*linear-gradient(hex,hex);*/

#anchor-right {
    -fx-background-color: #16161a
}

#admin-button {
    -fx-background-color: #1E3F66;
}

#comboBox {
    -fx-background-color: #16161a;
    -fx-text-fill: white;
}
