.scroll-pane {
    -fx-background-color: #16161a;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
    -fx-padding: 2px;
}

.scroll-bar:vertical .track {
    -fx-background-color: #333;
    -fx-border-color: transparent;
    -fx-background-radius: 4px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #555;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}