.root {
    -fx-background-color: #282c4;
    -fx-padding: 20px;
}

.label {
    -fx-text-fill: #abb2bf;
    -fx-font-style: 16px;
}

.label-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #eee;
    -fx-padding: 0 0 10px 0;
}

.web-view {
    -fx-border-color: #44475a;
    -fx-border-width: 1px;
    -fx-background-color: #3e4451;
}